/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*=============== Varibles ===============*/
:root {
  /********** Colors **********/
  --first-color: #ffb3b2;
  --white-color: #fff;
  --dark-color: #121212;
  --white-color-text: #fff8f8;

  /********** Fonts **********/
  --body-font: "Roboto", sans-serif;

  --bigger-font-size: 2.25rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.813rem;

  --z-index: 100;
}



@media screen and (min-width: 768px) {
  :root {
    --bigger-font-size: 4.5rem;
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/* Base Css */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: #fff; */
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar - Menu */

#header {
  position: absolute;
  width: 100%; 
}

  .logo{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  }

.a_logo{
  font-size: var(--big-font-size);
  color: var(--dark-color);
  font-weight: 600;
  letter-spacing: -1px;
}
span{
  color: white;
  }

  .nav_toggle {
    display: inline;
    cursor: pointer;
  }
  
  .nav_toggle i {
    font-size: 36px;
  }

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: -100%; 
    left: 0;
    background-color: var(--white-color);
    border-radius: 36px;
    width: calc(100% - 3rem);
    height: auto;
    margin: 0.5rem 1.5rem;
    padding: 2rem 1rem;
    z-index: var(--z-index);
    font-weight: bold;
    text-align: center;
    transition: all 0.5s;
  }
}

.li_item:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.a_link {
  color: #000;
}

.a_link:hover {
  color: #2d2d2f;
}

.a_link.active {
  background-color: var(--first-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--white-color);
  font-weight: bold;
}
.show-menu {
  top: 3rem;
}

.container{
  background: url("../img/background.jpg") no-repeat center center / cover;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

.left {
  color: var(--white-color-text);
  font-size: var(--big-font-size);
  text-align: center;
}

.right {
text-align: center;
}

.right-text{
  margin: 1.5rem;

}

.right i{
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 50%;
  transition: all 0.5s; 
  font-size: 35px;
}

.play-icon i:hover {
  background-color: var(--dark-color); 
}




/* Content */

  

/* Social Media */
.social-media{
  position: fixed;
  right: 3%;
  bottom: 0%;
  background-color:  #ffb3b2;
  padding-top:0.4rem ;
  padding-bottom: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-evenly;
}

.social-media a i{
  font-size: 18px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}
.social-media i:hover {
  color: var(--dark-color); 
  /* opacity: 0.5; */
}

/* Responsive */

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    align-items: center;
  }

  .li_item:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .nav__toggle {
    display: none; 
  }

  .container { 
    flex-direction: row; 
  }

  .left { 
    text-align: left;
  }

  .right {
    display: flex;
    align-items: center;
  }

}


